body {
  font-family: Helvetica;
  background-color: cornsilk;
}

h1 {
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
}

table {
  border: 3px solid Darkblue;
  width: 800px;
  margin: 0 auto;
}

thead {
  background-color: darkCyan;
  color: white;
}

}
td {
  border-top: 1px solid darkorchid;
}

.code {
  font-family: monospace;
  background-color: beige;
}
